<div>
    <section id="contact">
        <div class="contact">
            <h2 class="contact-title">Get In Touch</h2>
            <p>Right now I'm open to new oppurtunities and experiences. If you have any queries, feel free to contact me
                anytime.</p>
                <h4 class="contact-icon"><i class="fa fa-envelope-o"></i>abhishekmaheshwari05@gmail.com</h4>
                <h4 class="contact-icon"><i class="fa fa-whatsapp"></i>9720913971</h4>
                <h4 class="contact-icon"><i class="fa fa-phone"></i>6302170386</h4>

            <!-- <div class="btn-email">
                <a class="email-link" href="mailto:abhishekmaheshwari055@gmail.com">Say Hello</a>
            </div> -->
        </div>
        <div class="container">
          <div class="box">
            <div class="columns">
              <div class="column-title">
                <h1 class="title">Make a start</h1>
              </div>
              <div class="column-desc">
                <p>Interested in working together or having an offer for me? We should queue up a chat. I’ll buy the coffee.</p>
              </div>
              <div class="column-btn"><a (click)="openFormDialog()">Let's do this
              </a></div>
            </div>
          </div>
        </div>
    </section>
    <section class="form-intro">
    
    </section>
</div>