$secTextColor: var(--secondary-text-color);

.contact {
    max-width: 600px;
    margin: 0px auto 200px;
    text-align: center;

    .contact-icon {
      font-size: 15px;
      color: #00b7c7;
      display: block;
    
      i {
        padding-right: 6px;
      }
}
}

h2.contact-title {
    color: var(--heading-sec-color);
    font-size: clamp(40px, 5vw, 60px);
}

.email-link {
    color: var(--primary-text-color);
    background-color: transparent;
    padding: 1rem 1.75rem;
    font-size: var(--f-md);
    border-radius: 4px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $secTextColor;
    background: transparent;
    padding: 0.7rem;
    color: $secTextColor;
    
    &:hover {
      cursor: pointer;
      color: white;
      border: 2px solid var(--secondary-text-color);
      background-color: var(--secondary-text-color);
    }
    a {
      text-align: center;
    }
  }

.btn-email {
    margin-top: 50px;
}

//.form-intro {
  .container {
    //background-color: #7510F7;
    /* margin-top: -120px; */
    background-color: var(--secondary-text-color);
    margin: auto;
    margin-top: -167px;
    //width: 80%;
    border-radius: 10px;

    .box {
      border-radius: 10px;
      height: 200px;
      padding: 20px;
      text-align: center;
      display: grid;

      .columns {
        display: flex;
        margin: auto;

        .column-title {
          display: flex;
          width: 25%;

          h1 {
            //color: var(--navy);
            color: white;
            margin-bottom: 0;
            margin: auto;
            font-size: 2rem;
            font-weight: 800;
          }
        }

        .column-desc {
          width: 50%;
          padding-left: 20px;
          padding-right: 20px;

          p {
            font-size: 16px;
            color: white;
            margin: auto;
          }
        }

        .column-btn {
          text-align: center;
          margin: auto;
          display: flex;

          a {
            text-decoration: none;
            //background-color: #0a192f;
            padding: 0.5em 1em;
            font-weight: 400;
            border-radius: 290486px;
            border: 1.5px solid white;
            font-size: 17px;
            cursor: pointer;
            box-shadow: 0.5px 0.5px white;
            background-color: tomato;
            color: white;
            animation: mymove 2s infinite;
          }
        }
    }
  }
}


@media screen and (max-width: 620px) {
  .container {
    .box {
      height: 230px;

  .columns {
    display: block;

    .column-title {
      width: 100%;
      display: block;
      margin-bottom: 2%;
    }

    .column-desc {
      width: 100%;
  }

  .column-btn { 
    display: block;
    margin-top: 5%;
  }
}
}
}
}


@keyframes mymove {
  50% {box-shadow: 1px 1px 1px 1px white;}
}