// $headingFontFamily: var(--heading-font-family);
// $primaryTextColor: var(--primary-text-color);
// $textFontFamily: var(--text-font-family);
// $headingSecColor: var(--heading-sec-color);
// $secTextColor: var(--secondary-text-color);
// $imgFillColor: var(--img-fill-color);

// .title-heading {
//   display: inline-block;
//   text-align: center;
// }

// .user__info {
//   display: grid;
//   grid-template-columns: 2fr 3fr;
//   gap: 50px;
// }

// .user-desc,
// .user__pic {
//   padding: 0 0 5vh 2vw;
// }

// .user__pic {
//   width: 100%;
//   height: 100%;
// }

// .profile-pic {
//   background: url("../../../assets/images/insta.png");
//   background-position: 100% 40%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin: auto;
//   border-radius: 50%;
//   border: 2px solid $secTextColor;
// }

// .profile-pic::after {
//   content: "";
//   padding-bottom: 100%;
//   display: block;
// }

// ul.skills-list {
//   display: grid;
//   grid-template-columns: repeat(2, minmax(140px, 200px));
//   padding: 0px;
//   overflow: hidden;
//   color: $primaryTextColor;
//   list-style: none;
//   font-family: $textFontFamily;

//   li {
//     position: relative;
//     margin-bottom: 3px;
//     padding-left: 20px;
//     font-size: var(--f-md);
//   }
// }

// ul.skills-list li::before {
//   content: "▹";
//   margin-right: 8px;
//   color: var(--secondary-text-color);
// }

// .user-desc p a {
//   text-decoration: none;
//   color: var(--secondary-text-color);
// }

// @media all and (max-width: 768px) {
//   .user__info {
//     flex-flow: wrap;
//   }

//   .user__info {
//     display: block;
//   }
// }
// .about__StyledAboutSection-sc-1ownso9-0  {
//     visibility: visible;
//     opacity: 1;
//     transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
//     transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
//     margin: 0px auto;
//     padding: 100px 0px;
// }
.bNXWUU {
  max-width: 900px;
  .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    @media screen and (max-width: 767px) {
      display: flex;
  }
}
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family: var(--heading-font-family);
  letter-spacing: 0.1em;
}
.iTdkQf {
  position: relative;
  max-width: 300px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
p {
  margin: 0px 0px 15px;
  color: lightgray;
}
.kNIdQM ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
.kNIdQM ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  color: lightgrey;
}
.iTdkQf .wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: lightblue;
}
img, svg, .gatsby-image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.gatsby-image-wrapper-constrained {
  display: inline-block;
}
.gatsby-image-wrapper {
  overflow: hidden;
}
.gatsby-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
img[alt=""], img:not([alt]) {
  //filter: blur(5px);
}
.kNIdQM ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--white);
  line-height: 12px;
  color: var(--secondary-text-color);;
  position: inherit;
  padding-right: 3px;
}
.numbered-heading::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #00b7c7;
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
  font-weight: 400;
}
.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--secondary-text-color);
}
.iTdkQf .wrapper::after {
  border: 2px solid var(--secondary-text-color);
  top: 20px;
  left: 20px;
  z-index: -1;
}
.iTdkQf .wrapper::before, .iTdkQf .wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: var(--transition);
}
.iTdkQf .wrapper::before {
  top: 0px;
  left: 0px;
  background-color: var(--navy);
  mix-blend-mode: screen;
}
.iTdkQf .wrapper .img {
  position: relative;
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: var(--transition);
}

.kNIdQM {
  p {
    a {
      color: var(--secondary-text-color);
      text-decoration: none;
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}