<div style="overflow: hidden;">
<section id="about" class="about__StyledAboutSection-sc-1ownso9-0 bNXWUU" data-sr-id="0"
  style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;">
  <h2 class="numbered-heading">About Me</h2>
  <div class="inner">
    <div class="about__StyledText-sc-1ownso9-1 kNIdQM">
      <div>
        <p>Hello! My name is Abhishek and I enjoy creating things that live on the internet. My interest in web
          development started back in 2016 when I decided to develop a website featuring all latest mobile devices in the market. That project taught me a lot about HTML &amp; CSS!</p>
        <p>Fast-forward to today, and I've had the privilege of getting trained at <a href="https://www.infosys.com/"
            rel="noopener noreferrer" target="_blank">Infosys Pvt Ltd</a> and working for a huge corporation like <a
            href="https://entaingroup.com/" rel="noopener noreferrer" target="_blank">GVC</a>. My main focus these days is building accessible, inclusive products and digital experiences at
          <a href="https://www.ivy.global/" rel="noopener noreferrer" target="_blank">IVY Software</a> for their in-house applications.
        </p>
        <p>Here are a few technologies I've been working with recently:</p>
      </div>
      <ul class="skills-list">
        <li>Angular</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>Typescript</li>
        <li>NodeJs</li>
        <li>MySQL</li>
        <li>C#</li>
      </ul>
    </div>
    <div class="about__StyledPic-sc-1ownso9-2 iTdkQf">
      <div class="wrapper">
        <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
          <div style="max-width: 500px; display: block;"><img alt="" role="presentation" aria-hidden="true"
              src="data:image/svg+xml;charset=utf-8,%3Csvg height='500' width='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
              style="max-width: 100%; display: block; position: static;"></div>
          <div aria-hidden="true" data-placeholder-image=""
            style="opacity: 0; transition: opacity 500ms linear 0s; background-color: rgb(232, 232, 232); position: absolute; inset: 0px; object-fit: cover;">
          </div>
          <picture>
            <img width="500" height="500" data-main-image="" decoding="async"
              src="../../../assets/images/about.png" />
          </picture><noscript></noscript>
        </div>
      </div>
    </div>
  </div>
</section>
</div>