<footer class="footer">
  <ul class="social-links">
    <li>
      <a href="https://gitlab.com/thedockdevelopers" aria-label="GitLab" target="_blank">
        <i class="fa fa-gitlab" style="margin-top: 5.5px;"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/abhishek-maheshwari-436847129/" aria-label="LinkedIn" target="_blank">
        <i-feather class="icon" name="LinkedIn"></i-feather>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/abhi.maheshwari.1428" aria-label="Facebook" target="_blank">
        <i class="fa fa-facebook" style="margin-top: 5.5px;"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/abhi_maheshwari/" aria-label="Instagram" target="_blank">
        <i-feather class="icon" name="Instagram"></i-feather>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/Abhishe49928264" aria-label="Twitter" target="_blank">
        <i-feather class="icon" name="Twitter"></i-feather>
      </a>
    </li>
  </ul>

  <div class="credits">
    <a href="https://dockdeveloper.com" target="_blank">
      <p>Designed & Built by <span>Abhishek Maheshwari</span></p>
    </a>
  </div>
</footer>