<div id="navbar">
<nav class="nav">
  <div class="nav-logo">
    <a href="#">
      <span>AM</span>
    </a>
  </div>
  <ul class="nav__list">
    <li>
      <a href="#about"><span>01. </span>About()</a>
    </li>
    <li>
      <a href="#experience"><span>02. </span>Experience()</a>
    </li>
    <li>
      <a href="#projects"><span>03. </span>Projects()</a>
    </li>
    <li>
      <a href="#testimonial"><span>04. </span>Testimonials()</a>
    </li>
    <li>
      <a href="#contact"><span>05. </span>Contact()</a>
    </li>
  </ul>
</nav>
</div>