<div class="stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>



<div class="comp-container">
  <app-home></app-home>
  <div class="comp">
    <div class="social" orientation="left" class="icons-container">
      <ul class="social-links">
        <li style="margin-bottom: 4px;">
          <a href="https://gitlab.com/thedockdevelopers" aria-label="GitLab" target="_blank">
            <i class="fa fa-gitlab"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/abhishek-maheshwari-436847129/" aria-label="LinkedIn" target="_blank">
            <i-feather class="icon" name="LinkedIn"></i-feather>
          </a>
        </li>
        <li style="margin-bottom: 4px;">
          <a href="https://www.facebook.com/abhi.maheshwari.1428" aria-label="Facebook" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/abhi_maheshwari/" aria-label="Instagram" target="_blank">
            <i-feather class="icon" name="Instagram"></i-feather>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Abhishe49928264" aria-label="Twitter" target="_blank">
            <i-feather class="icon" name="Twitter"></i-feather>
          </a>
        </li>
      </ul>
    </div>

    <app-about></app-about>
    <app-experience></app-experience>
    <app-projects></app-projects>
    <app-testimonial></app-testimonial>
    <app-contact></app-contact>
    <app-footer></app-footer>

    <div orientation="right" class="icons-container right">
      <ul class="social-links">
        <li>
        <a
          href="mailto:abhishekmaheshwari05@gmail.com" target="_blank">abhishekmaheshwari05@gmail.com</a></li></ul>
    </div>
  </div>
</div>