<section class="main-section">
  <p class="sec__heading">Hello, I am</p>
  <div class="heading">
    <h1 class="name__heading">Abhishek Maheshwari.</h1>
    <h1 class="role__heading">I am a <span><br /></span> <h1 class="typewriter">Full Stack Web Developer.</h1></h1>
  </div>
  <p class="sec__desc" >
    Based in Bareilly, Uttar Pradesh, India. I try to keep up with the latest trends,
    passionate about learning new technologies, bringing ideas to life, 
    and working to build efficient and robust applications suited to the user’s needs. 
  </p>
  <div class="btn-container">
    <a class="btn" href="../../../assets/AbhishekMaheshwari.pdf" download="">Resume</a>
  </div>
</section>
