$headingFontFamily: var(--heading-font-family);
$primaryTextColor: var(--primary-text-color);
$textFontFamily: var(--text-font-family);
$headingSecColor: var(--heading-sec-color);
$secTextColor: var(--secondary-text-color);
$linkHoverColor: var(--link-hover-color);


.heading h1 {
  font-family: $headingFontFamily;
  font-size: clamp(33px, 5vw, 60px);
  @media screen and (max-width: 560px){
    font-size: clamp(20px, 5vw, 60px);
  }
  @media screen and (max-width: 360px){
    font-size: clamp(1px, 5vw, 60px);
  }
}


p.sec__desc,
p.sec__heading {
  margin: 0px 0px 30px 4px;
}

p.sec__desc {
  max-width: 600px;
  margin: 20px 0px 0px;
}

.sec__heading,
.sec__desc,
.name__heading {
  color: $primaryTextColor;
  letter-spacing: 0.1em;
}

.role__heading {
  color: $headingSecColor;
  letter-spacing: 2px;

  span {
    @media screen and (min-width: 768px){
      display: none;
    }
  }
}

.name__heading,
.role__heading {
  margin-top: 10px;
  line-height: 1.2;
}

.btn-container {
  margin: 2rem 0;

  .btn {
    color: $secTextColor;
    background-color: transparent;
    padding: 1rem 1.75rem;
    font-size: var(--f-md);
    border-radius: 4px;
    font-family: var(--text-font-family);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $secTextColor;
    background: transparent;
    padding: 0.7rem;
    a {
      text-align: center;
    }
    &:hover {
      cursor: pointer;
      color: white;
      border: 2px solid var(--secondary-text-color);
      background-color: var(--secondary-text-color);
    }
    // :hover {
    //   cursor: pointer;
    //   color: var(--link-hover-color);
    //   border-color: var(--link-hover-color);
    // }
  }
}

@media all and (max-width: 480px) {
  .main-section {
    margin-top: 8vh;
    margin-bottom: 5vh;
  }
}


//typewriter
.typewriter {
  //color: #000;
  //font-size: 1.5em;
  //font-weight: 500;
  width: 0;
  max-width: max-content;
  overflow: hidden; 
  border-right: .05em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  //color: $headingSecColor;
  display: inline-flex;
}

.typewriter {
  animation: 
    4s typing-erase 1s steps(50, end) infinite,
    blink-caret 0.5s step-end infinite;
}

/* The type and erase effect */
@keyframes typing-erase {
  0% { width: 0 }
  80% { width: 100% }
  90%, 100% { width: 0 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}