<div class="contact-form-container">
    <div class="form">
        <div class=form-navbar>
            <div class="contact-form-header-container">
                <div class="logo-wrapper">
                    <a class="logo" href="/">AM</a>
                </div>
                <div class="btn-wrapper">
                    <div class="btn-section">
                        <div class="btn-items">
                            <p class="buttons">
                                <a class="refresh" (click)="resetForm(true)">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>
                                <a class="close" (click)="close()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <section class="form-meta-section">
                <div class="container">
                    <div class="column">
                        <div class="column-meta">
                            <img class="avatar" src="./../../../assets/images/abhi.png" />
                            <h1 class="title">I’m excited to
                                learn about this opportunity. Ready to get started?</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="form-section">
                <div class="container">
                    <div *ngIf="submitted" style="color: aqua;">Thanks for contacting me. I will get back to you soon!</div>
                    <div *ngIf="error" style="color: red;">Please check you name and email address(*both required)</div>
                    <form  [formGroup]="contactForm" (submit)="submit(contactForm.value)">
                        <div class="column">
                            <div class="column-data">
                                <div class="field">
                                    <!-- <label class="label">Name</label> -->
                                    <div class="control is-expanded">
                                        <input class="input" name="name" type="text" formControlName="name" placeholder="Name*">
                                    </div>
                                </div>
                            </div>
                            <div class="column-data">
                                <div class="field">
                                    <!-- <label class="label">Email</label> -->
                                    <div class="control">
                                        <input class="input" name="email" type="email" formControlName="email" placeholder="Email*">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="column">
                            <div class="column-message">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <input class="input" name="name" type="text" placeholder="Subject">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="column">
                            <div class="column-message">
                                <div class="field">
                                    <!-- <label class="label">Message</label> -->
                                    <div class="control">
                                        <textarea class="textarea" name="details" rows="7" formControlName="message"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="field">
                                <label class="is-hidden"></label>
                                <div class="control is-expanded is-hidden">
                                    <input class="is-hidden" name="_gotcha" type="hidden">
                                </div>
                            </div> -->
                            </div>
                        </div>
                        <div class="column-submit">
                            <div class="column">
                                <div class="field">
                                    <div class="control">
                                        <button class="button" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="map">
                    <div class="inf-map"> Abhishek Maheshwari,<br> Noida,India.<br />28°38'09"N 77°12'16"E</div>
                    <img src="../../../../assets//images/map.png" />
                </div>


            </section>
        </div>
        <app-footer></app-footer>
    </div>
</div>