.contact-form-container {
    animation: fadeIn 2s, translate-up 1s;
    height: 100%;
    overflow: hidden;
    
    .form {
        background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
        height: 100%
    }

    .form-navbar {
        border-bottom: 0.5px solid var(--heading-sec-color);
        z-index: auto;
        min-height: 3.25rem;
        -webkit-box-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: flex;
        position: relative;
        -webkit-box-flex: 1;
        flex-grow: 1;
        margin: 0 auto;
        position: relative;

    .contact-form-header-container {
        -webkit-box-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: flex;
        min-height: 3.25rem;
        width: 100%;
        -webkit-box-align: stretch;
        align-items: stretch;

        .logo-wrapper {
            font-family:  var(--logo-font-family);
            display: -webkit-box;
            display: flex;
            margin-left: 4.6%;
            font-size: 44px;;

            .logo {
                cursor: pointer;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                &:hover {
                    color: var(--secondary-text-color);
                }
            }
        }

        .btn-wrapper {
            margin-right: 4.6%;
            flex-grow: 1;
            flex-shrink: 0;

            .btn-section {
                align-items: stretch;
                display: -webkit-box;
                display: flex;
                float: right;
                height: 100%;

                .btn-items {
                    font-size: 18px;
                    font-weight: 300;
                    display: flex;
                    -webkit-box-flex: 0;
                    flex-grow: 0;
                    flex-shrink: 0;
                    .buttons {
                        margin-bottom: 0;
                        -webkit-box-align: center;
                        align-items: center;
                        display: -webkit-box;
                        display: flex;
                        flex-wrap: wrap;
                        -webkit-box-pack: start;
                        justify-content: flex-start;

                        a {
                            padding: 22px;
                            cursor: pointer;
                        }
                        .refresh {
                            text-decoration: none;
                            &:hover {
                                color: var(--secondary-text-color);
                            }
                        }

                        .close {
                            text-decoration: none;
                            &:hover {
                                color: var(--secondary-text-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

    .contact-form {
        display: block;

        .form-meta-section {
            padding: 0;
            position: relative;

            .column-meta {
                text-align: center; 
                h1{
                @media screen and (max-width: 560px) {
                    font-size: 15px;
                }
            }

                img {
                    width: 84px;
                    margin: -14% auto 50px;
                    border-radius: 50%;
                    border: 0.5px solid var(--heading-sec-color);
                    @media screen and (max-width: 560px) {
                        margin-bottom: 10px;
                    }
                    @media screen and (min-width: 1025px) {
                        margin: -4% auto 50px;
                    }
                }
            }
        }

        .form-section {
            padding: 0 !important;
            display: flex;
            margin: 0 !important;
            max-width: 100%;

            .container {
                width: 45%;
                margin-left: 3%;
                @media screen and (max-width: 1024px) {
                    width: 100%;
                    margin: 9%;
                }
                @media screen and (max-width: 560px) {
                    margin-top: 0%;
                    margin-bottom: 0%;
                }
            }

            form {
                //width: 80%;
                //margin: auto;
                //padding-left: 2%;

                label {
                    //font-weight: 400;
                    font-family: var(--text-font-family);
                    font-size: var(--f-md);
                    color: var(--heading-sec-color);
                    font-size: 1.2rem;
                }

                input {
                    border: 1px solid var(--heading-sec-color);
                    width: 98%;
                    height: 3.5em;
                    font-size: 1.0rem;
                    font-weight: 100;
                    padding: 10px;
                    color: #141c3a;
                    border-radius: 3px;
                }

                .column {
                    display: flex;
                    padding-top: 18px;

                    .column-data {
                        width: 50%;
                    }

                    .column-message {
                        width: 100%;

                        input {
                            width: 99%;
                        }

                        textarea {
                            width: 99%;
                            border: 1px solid var(--heading-sec-color);
                            color: #141c3a;
                            font-size: 1.0rem;
                            font-weight: 100;
                            padding: 10px;
                            padding-bottom: 0;
                            font-family: "Arial";
                        }
                    }
                }

                    .column-submit {
                        text-align: center;
                        width: 100%;

                        .column {
                            width: 50%;
                            margin: auto;

                            .field {
                                width: 100%;

                                button {
                                    width: 100%;
                                    border-radius: 30px;
                                    height: 2.5rem;
                                    background: white;
                                    font-size: 1.2rem;
                                    cursor: pointer;
                                    background-color: var(--secondary-text-color);
                                    color: white;
                                    border: 1px solid var(--heading-sec-color);
                                }
                            }
                        }
                    }
                }
            }
        }
}

.map {
    width: 50%;
    margin-left: 3%;
    background-color: var(--secondary-text-color);
    position: relative; 
    @media screen and (max-width: 1024px) {
        display: none;
    }

    .inf-map {
        float: left;
        position: absolute;
        z-index: 1000;
        padding: 20px;
        color: #FFFFFF;
        background: rgba(0,0,0,.9);
        font-family: "Open Sans","Helvetica",Arial,sans-serif;
        font-size: 17px;
        font-weight: 300;
        top: 25px;
        left: 25px;
        width: 230px;
    }

    img {
        height: 100%;
        opacity: 0.8;
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	// 25% {
	// 	box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
	// 	transform: translatey(-20px);
	// }
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	// 75% {
	// 	box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
	// 	transform: translatey(20px);
	// }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.avatar {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}