:root {
  --bg-primary-color: white;
  --primary-text-color: ghostwhite;
  --secondary-text-color: #00b7c7;
  --link-hover-color: #00dded;
  --heading-sec-color: lightslategrey;
  --img-fill-color: #f3f3f3;
  --text-font-family: monospace;
  --heading-font-family: "Calistoga";
  --f-xxs: 12px;
  --f-xs: 13px;
  --f-sm: 14px;
  --f-md: 16px;
  --f-lg: 18px;
  --f-xl: 20px;
  --f-xxl: 22px;
  --f-heading: 32px;
  --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);

    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 14px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --primary-star-color: #171c28;
    --logo-font-family: "Brush Script MT";
}