<div style="overflow: hidden;">
  <section id="projects" class="section">
    <div class="section-wrapper">
      <div>
        <h2 class="numbered-h2">Projects</h2>
        <div class="portfolio-item-wrapper">


          <div class="portfolio-row">
            <div class="screenshots "> <img class="img-lg" src="../../../assets/img/portfolio/covitrail/ct-desktop.png"
                alt="desktop-screenshot">
              <img class="img-md" src="../../../assets/img/portfolio/covitrail/ct-tablet.png"
                alt="tablet-screenshot"> <img class="img-sm"
                src="../../../assets/img/portfolio/covitrail/ct-mobile.png" alt="mobile-screenshot">
            </div>
            <div class="description-title-container">
              <h2 class="description-title">covitrail</h2>
              <div class="description-buttons"> <a href="https://covitrail.dockdevelopers.com/" target="_blank">Demo</a> <a
                  href="https://gitlab.com/thedockdevelopers" target="_blank" class="code">Code</a> </div>
            </div>
            <p class="portfolio-description">Track the spread of Covid-19 pandemic, get latest statistics from all over the world. Get access to latest news and videos only related to Covid-19. Along with all these services, one gets access to corona guide, helpline numbers for all Indian states.</p>
            <div class="used">
              <ul class="used-items">
                <li class="used-item">Ionic</li>
                <li class="used-item">Angular</li>
                <li class="used-item">HTML</li>
                <li class="used-item">SASS</li>
                <li class="used-item">Typescript</li>
                <li class="used-item">NodeJS</li>
                <li class="used-item">Firebase</li>
              </ul>
            </div>
          </div> <span class="divider"></span>
          

          <div class="portfolio-row">
            <div class="screenshots "> <img class="img-lg"
                src="../../../assets/img/portfolio/dockdevelopers/dd-desktop.png" alt="desktop-screenshot"> <img
                class="img-md" src="../../../assets/img/portfolio/dockdevelopers/dd-tablet.png" alt="tablet-screenshot">
              <img class="img-sm" src="../../../assets/img/portfolio/dockdevelopers/dd-mobile.png"
                alt="mobile-screenshot"> </div>
            <div class="description-title-container">
              <h2 class="description-title">DockDevelopers</h2>
              <div class="description-buttons"> <a href="https://dockdevelopers.com" target="_blank">Demo</a> <a
                  href="https://gitlab.com/thedockdevelopers" target="_blank" class="code">Code</a>
              </div>
            </div>
            <p class="portfolio-description">DockDevelopers is a web application built using ReactJs for displaying rolled-out and upcoming products for dockdevelopers group. I created this web app with the intention of
              providing users a way of subscribing to dockdevelopers newsletter and also sending their suggestions to dockdevelopers group.</p>
            <div class="used">
              <ul class="used-items">
                <li class="used-item">ReactJS</li>
                <li class="used-item">HTML</li>
                <li class="used-item">CSS</li>
                <li class="used-item">JavaScript</li>
                <li class="used-item">NodeJS</li>
                <li class="used-item">Firebase</li>
              </ul>
            </div>
          </div> <span class="divider"></span>


          <div class="portfolio-row">
            <div class="screenshots "> <img class="img-lg" src="../../../assets/img/portfolio/dshort/ds-desktop.png"
                alt="desktop-screenshot">
              <img class="img-md" src="../../../assets/img/portfolio/dshort/ds-tablet.png" alt="tablet-screenshot"> <img
                class="img-sm" src="../../../assets/img/portfolio/dshort/ds-mobile.png" alt="mobile-screenshot">
            </div>
            <div class="description-title-container">
              <h2 class="description-title">dShort</h2>
              <div class="description-buttons"> <a href="https://dshort.in/" target="_blank">Demo</a> <a
                  href="https://gitlab.com/thedockdevelopers" target="_blank" class="code">Code</a>
              </div>
            </div>
            <p class="portfolio-description">This application is developed to help my fellow developers and other potential users to shorten the length of URLs. Using this application, one can not only short the long URL but also can get the history of short links. Along with short URL, this application provides a QR Code which can be scanned by users in their mobiles or tablets.</p>
            <div class="used">
              <ul class="used-items">
                <li class="used-item">ReactJs</li>
                <li class="used-item">HTML</li>
                <li class="used-item">CSS</li>
                <li class="used-item">JavaScript</li>
                <li class="used-item">NodeJs</li>
                <li class="used-item">Firebase</li>
              </ul>
            </div>
          </div> <span class="divider"></span>


          <div class="portfolio-row">
            <div class="screenshots "> <img class="img-lg" src="../../../assets/img/portfolio/liftyaar/ly-desktop.png"
                alt="desktop-screenshot"> <img class="img-md" src="../../../assets/img/portfolio/liftyaar/ly-tablet.png"
                alt="tablet-screenshot"> <img class="img-sm" src="../../../assets/img/portfolio/liftyaar/ly-mobile.png"
                alt="mobile-screenshot"> </div>
            <div class="description-title-container">
              <h2 class="description-title">LiftYaar</h2>
              <div class="description-buttons"> <a href="https://liftyaar-000.firebaseapp.com/" target="_blank">Demo</a>
              </div>
            </div>
            <p class="portfolio-description">This was my first website which I built in 2018. It's a simple website which can be used to offer or book car/bike rides.
              Since then, I think my web development and design skills
              have expanded immensely.</p>
            <div class="used">
              <ul class="used-items">
                <li class="used-item">HTML</li>
                <li class="used-item">CSS</li>
                <li class="used-item">Bootstrap</li>
                <li class="used-item">JavaScript</li>
                <li class="used-item">Firebase</li>
              </ul>
            </div>
          </div> <span class="divider"></span>


        </div>
      </div>
    </div>
  </section>
</div>