

@import '../../variables';
#projects {
  .section-wrapper {
    padding-bottom: 50px;
  }
  a {
    display: inline-block;
  }
  .portfolio-item-wrapper {
    .divider {
      &:last-of-type {
        display: none;
      }
    }
  }
  .portfolio-row {
    margin: 0;
    padding-top: 50px;
    display: block;
    .screenshots {
      position: relative;
      overflow: hidden;
      display: block;
      width: 100%;
      margin-left: 10px;
      // @include MQ(S660) {
      //   margin-left: 0;
      // }
      &:before,
      &:after {
        box-sizing: inherit;
        padding: 0;
        margin: 0;
      }
      &:after {
        display: block;
        padding-top: 45.5%;
        content: "";
      }
      &.screentime {
        &:after {
          display: block;
          padding-top: 5.5%;
          content: "";
          // @include MQ(MM) {
          //   padding-top: 7.5%;
          // }
          // @include MQ(S660) {
          //   padding-top: 10%;
          // }
          // @include MQ(SM) {
          //   padding-top: 15%;
          // }
        }
      }
      .img-lg,
      .img-md,
      .img-sm {
        //border: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        //border-radius: 2px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
        &:after {
          content: "";
          display: block;
        }
      }
      .img-lg {
        width: 70%;
        left: 0;
        z-index: 1;
        &:after {
          padding-top: 65%;
        }
      }
      .img-md {
        width: 27%;
        right: 14%;
        z-index: 2;
        &:after {
          padding-top: 110%;
        }
      }
      .img-sm {
        width: 15%;
        right: 1rem;
        z-index: 3;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.75);
        &:after {
          padding-top: 145%;
        }
      }
      .img-screentime {
        position: relative;
        top: 0px;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
        width: 26%;
        margin-right: -20px;
        // @include MQ(M) {
        //   width: 27%;
        // }
        // @include MQ(SM) {
        //   width: 25%;
        //   margin-right: -10px;
        // }
        &:nth-of-type(2) {
          top: 15px;
          // @include MQ(S600) {
          //   top: 10px;
          // }
        }
        &:nth-of-type(3) {
          top: 30px;
          // @include MQ(S600) {
          //   top: 20px;
          // }
        }
        &:nth-of-type(4) {
          top: 45px;
          // @include MQ(S600) {
          //   top: 30px;
          // }
        }
        &:after {
          content: "";
          display: block;
        }
      }
    }
    .description-title-container {
      position: relative;
      width: 100%;
      margin-top: 30px;
      margin-left: 1em;
      align-items: baseline;
      display: -webkit-flex;
      -webkit-flex-wrap: nowrap;
      -webkit-flex-direction: row;
      -webkit-justify-content: flex-end;
      -webkit-align-content: stretch;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-end;
      align-content: stretch;
      // @include MQ(M) {
      //   width: 95%;
      // }
      // @include MQ(S660) {
      //   width: 100%;
      //   margin-left: 0;
      // }
      // @include MQ(S600) {
      //   display: block;
      // }
      .description-title {
        flex: 1;
        margin-bottom: 20px;
        font-family: var(--heading-font-family);
        text-transform: uppercase;
        color: var(--secondary-text-color);
        letter-spacing: 0.1em;

        @media screen and (max-width: 420px) {
          font-size: 1em;
        }
      }
      .description-buttons {
        margin-right: 2.5%;
        @media screen and (max-width: 560px) {
          .code {
            display: none;
          }
        }
        
    a {
        color: var(--secondary-text-color);
      background-color: transparent;
    font-size: var(--f-md);
    border-radius: 4px;
    font-family: var(--text-font-family);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--secondary-text-color);
    background: transparent;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
      color: white;
      border: 2px solid var(--secondary-text-color);
      background-color: var(--secondary-text-color);
    }
  }
        // a {
        //   padding: 10px 15px;
        //   background: transparent;
        //   border: 2px solid $blue;
        //   border-radius: 3px;
        //   margin: 0 5px;
        //   color: var(----heading-sec-color);
        //   font-family: $Gotham, $sans-serif-stack;
        //   text-transform: uppercase;
        //   transition: all 0.3s ease;
        //   text-decoration: none;
        //   font-size: var(--f-md);
          // @include MQ(S660) {
          //   font-size: 14px;
          //   padding: 7px 10px;
          //   position: relative;
          //   top: -5px;
          // }
          // @include MQ(S600) {
          //   margin: 0 10px 30px 0;
          //   top: 0px;
          // }
          // &:hover, &:focus {
          //   background: $blue;
          //   color: $white;
          // }
        }
      }
    }
    .portfolio-description {
      display: block;
      width: 92%;
      margin-top: 15px;
      margin-left: 1.5rem;
      //margin-bottom: 25px;
      color: $almostWhite;
      // @include MQ(S660) {
      //   width: 100%;
      //   margin-left: 0;
      //   margin-top: 10px;
      // }
      // @include MQ(SM) {
      //   font-size: 1em;
      // }
      a {
        position: relative;
        font-weight: 500;
        color: $almostWhite;
        &:after {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 2px;
          border-width: 0 0 .5px;
          border-style: solid;
          border-color: $almostWhite;
        
      }
    }
  }
    .used {
      display: block;
      width: 90%;
      //margin-top: 30px;
      margin-bottom: 100px;
      // @include MQ(M) {
      //   margin-bottom: 70px;
      // }
      // @include MQ(S400) {
      //   margin-bottom: 50px;
      // }
      .used-items {
        margin-left: 2rem;
        // @include MQ(S660) {
        //   margin-left: 0;
        // }
        .used-item {
          // display: inline-block;
          // padding: 7px 7px 5px;
          // margin-right: 5px;
          // margin-bottom: 10px;
          // color: $light-grey;
          // background: #333;
          // border-radius: 3px;
          // text-transform: uppercase;
          // font-size: 10px;
          // font-weight: 500;
          // letter-spacing: .5px;

          position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  color: lightgrey;
  list-style: none;
        }
        .used-item::before {
          content: "▹";
          position: absolute;
          left: 0px;
          color: var(--white);
          line-height: 12px;
          color: var(--secondary-text-color);;
          position: inherit;
          padding-right: 3px;
        }
      }
    }
  
}
.numbered-h2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family: var(--heading-font-family);
  letter-spacing: 0.1em;
}
.numbered-h2::before {
  position: relative;
  counter-increment: section 3;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #00b7c7;
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
  font-weight: 400;
}
.numbered-h2::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #00b7c7;
}

.screenshots {
  img {
    border: 1px solid var(--link-hover-color);
    border-radius: 3px;
  }
}