#testimonial {

  .section-wrapper {
    padding-bottom: 50px;
  }

  
.title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family: var(--heading-font-family);
  letter-spacing: 0.1em;
}
.title::before {
  position: relative;
  counter-increment: section 4;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #00b7c7;
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
  font-weight: 400;
}
.title::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #00b7c7;
}

  .subtitle {
    text-align: center;
    font-size: 20px;
    color: lightgray;
  }

  .columns {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;

    .column {
      width: 70%;

      .testimonials-slider {
        position: relative;

        .carousel-slides {
          padding-bottom: 10px;

          .carousel-inner {

            .carousel-item {

              .testimonial-block {
                text-align: center;

                img {
                  max-width: 96px;
                  height: auto;
                  border-radius: 100px;
                  margin: 2rem auto 2rem;
                  border: 0.5px solid var(--heading-sec-color)
                }

                p{
                  font-weight: 300;
                  margin: 0 auto 2.5rem;
                  //font-size: 18px;
                  //color: var(--heading-sec-color);
                  color: white;
                }

                h2 {
                  font-weight: 800;
                  font-size: 1.25rem;
                }

                h3 {
                  font-family: "europa", sans-serif;
                  font-weight: 300;
                  font-size: 12px;
                }

                h2, h3 {
                  margin-bottom: 0.5rem;
                  color: var(--secondary-text-color);
                }
              }

            }
          }
        }
        .myPoint {
          list-style-type: none;
          display: flex;
          justify-content: center;

          li {
            width: 10px;
            height: 10px;
            border: 2px solid white;
            border-radius: 50%;
            padding: 5px;
            margin-left: 10px;
            cursor: pointer;
          }

          li.active {
            background-color: var(--secondary-text-color);
          }
        }
      }
    }

  }
}