<div style="overflow: hidden;">
  <section id="testimonial" class="section">
    <div class="section-wrapper">
      <div>
        <h2 class="title">Testimonials</h2>
        <h2 class="subtitle">People I've worked with have said some nice things...</h2>
        <div class="columns">
          <div class="column">
            <div class="testimonials-slider">
              <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="testimonial">
                <ngu-item *nguCarouselDef="let item;let i=index">
                  <div class="carousel-slides">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <div class="testimonial-block">
                          <img class="avatar" [src]="item.image">
                          <p class="quote">{{item.desc}}</p>
                          <h2 class="name">{{item.name}}</h2>
                          <h3 class="company">{{item.designation}}, {{item.company}}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </ngu-item>
                <!-- <div class="carousel-nav">
                  <label for="carousel-1"></label>
                  <label for="carousel-2"></label>
                </div> -->
                <!-- <button NguCarouselNext class="rightRs">></button>
                <button NguCarouselPrev class="leftRs"> -->
                <!-- </button> -->
                <ul class="myPoint" NguCarouselPoint>
                  <li *ngFor="let j of myCarousel.pointNumbers; let i = index"
                    [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
                </ul>
              </ngu-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>