
<!--Bootstrap Cdn link-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<div class="loader-wrapper">
<div class="loader-container">
       <div class="row">
           <div class="col-md-3 col-sm-6">
               <div class="progress blue">
                   <span class="progress-left">
                       <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                       <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value"><span>AM</span></div>
               </div>
           </div>
       </div>
   </div>
  </div>