<div>
  <section id="experience" class="section gap experience">
    <div class="bg skrollable skrollable-between" data-anchor-target="#experience-section"
      data-bottom-top="transform: translate3d(0px, -150px, 0px);"
      data-top-bottom="transform: translate3d(0px, 150px, 0px);" style="transform: translate3d(0px, -103.886px, 0px);">
    </div>
    <div class="overlay-wrapper">
      <div class="fade-in">
        <div class="center">
          <h2 class="numbered-head">Experience</h2>
          <p class="experience-description">Thanks to GVC Group, I've had the privilege of completing
            two and half awesome years as a Software Engineer. This organization has helped me a lot from being a newbie to a professional web developer. For last 2.5 years, I have worked on various projects, delivered numerous features and made many optimisations in existing code, making product more stable.  </p>
        </div>
        <div class="experience-wrapper">
          <div id="timeline">
            <div class="timeline-block">
              <div class="timeline-content">
                <h2 class="position">Intern Software Engineer</h2>
                <h3 class="company"><a href="http://editmeet.com/" target="_blank">EditMeet</a></h3>
                <p class="job-desc">Developed and maintained code for in-house websites. Tested front-end
                  code in various browsers and mobile devices to ensure cross-browser compatibility and responsiveness.
                  Collaborated closely with testers and other developers to deliver the product on time.</p>
                  <!-- <h4 class="certificate">Certificate: <a><i class="fa fa-paperclip" aria-hidden="true"></i></a><a><i class="fa fa-paperclip" aria-hidden="true"></i></a></h4> -->
              </div>
              <div class="timeline-img">
                <div class="sprite industry"></div>
              </div> <span class="date">May - June 2018</span>
            </div>
            <div class="timeline-block">
              <div class="timeline-content">
                <h2 class="position">Trainee Software Engineer</h2>
                <h3 class="company">
                  <a href="https://www.infosys.com/" target="_blank">Infosys PVT LTD</a>
                </h3>
                <p class="job-desc">Developed a tool using Angular to automate the examination paper checking process for the Infosys Trainees. Worked closely with the project lead to develop a robust & reliable system.</p>
                <!-- <h4 class="certificate">Certificate: <a><i class="fa fa-paperclip" aria-hidden="true"></i></a></h4> -->
              </div>
              <div class="timeline-img">
                <div class="sprite research"></div>
              </div> <span class="date">Jan - May 2019</span>
            </div>
            <div class="timeline-block">
              <div class="timeline-content">
                <h2 class="position">Software Engineer</h2>
                <h3 class="company"><a href="https://www.ivy.global/" target="_blank">IVY Software</a></h3>
                <p class="job-desc">Working on various in-house web applications to improve the overall performance. In last couple of years, I have worked on several features, non-functional requirements and created the library for existing code so that various features of Casino product can be used by other consumers. Have worked closely with Testing team during rollouts, making sure product remains stable in production. </p>
              </div>
              <div class="timeline-img">
                <div class="sprite university"></div>
              </div> <span class="date">Jun, 2019 - Present</span>
            </div>
          </div> <i class="down-arrow"></i>
        </div>
      </div>
    </div>
  </section>
</div>