// .user-exp {
//     margin: 0 175.5px;
//   }
  
//   $max-tab-count: 5;
//   $tab-wrap-border-radius: 6px;
//   .tab-wrap {
//     transition: 0.3s box-shadow ease;
//     border-radius: $tab-wrap-border-radius;
//     max-width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     position: relative;
//     list-style: none;
//     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0 0 2px #76b9a5;
//   }
  
//   .tab {
//     display: none;
//     @for $i from 1 through $max-tab-count {
//       &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
//         opacity: 1;
//         transition: 0.5s opacity ease-in, 0.8s transform ease;
//         position: relative;
//         top: 0;
//         z-index: 100;
//         transform: translateY(0px);
//         text-shadow: 0 0 0;
//       }
//     }
//     &:first-of-type:not(:last-of-type) + label {
//       border-top-right-radius: 0;
//       border-bottom-right-radius: 0;
//     }
//     &:not(:first-of-type):not(:last-of-type) + label {
//       border-radius: 0;
//     }
//     &:last-of-type:not(:first-of-type) + label {
//       border-top-left-radius: 0;
//       border-bottom-left-radius: 0;
//     }
//     &:checked + label {
//       box-shadow: 0 -1px 0 var(--secondary-text-color) inset;
//       cursor: default;
//     }
//     + label {
//       border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
//       cursor: pointer;
//       display: block;
//       text-decoration: none;
//       color: var(--secondary-text-color);
//       font-size: var(--f-lg);
//       flex-grow: 3;
//       text-align: center;
//       user-select: none;
//       text-align: center;
//       transition: 0.3s background-color ease, 0.3s box-shadow ease;
//       height: 50px;
//       box-sizing: border-box;
//       padding: 15px;
//     }
//     &__content {
//       padding: 10px 25px;
//       background-color: transparent;
//       position: absolute;
//       width: 100%;
//       z-index: -1;
//       opacity: 0;
//       left: 0;
//       transform: translateY(-3px);
//       border-radius: $tab-wrap-border-radius;
//     }
//   }

//   .tab__content > p ul li {
//     list-style: none;
//     position: relative;
//     padding-left: 20px;
//   }

//   .tab__content > p ul li::before {
//       content: "▹";
//       color: var(--secondary-text-color);
//       position: absolute;
//       left: 0px;
//   }

//   .company-name {
//     color: var(--secondary-text-color);
//   }

//   .job-title {
//     color: var(--heading-sec-color);
//   }


//   @media all and (max-width: 999px) {
//     .user-exp {
//       margin: 0 100px;
//     }
//   }


//   @media all and (max-width: 699px) {
//     .user-exp {
//       margin: 0;
//     }
//   }
  
@import '../../mixins';
@import '../../variables';
#experience {
  .experience-description {
    //padding: 0 100px;
    //font-size: 1.2em;
    @include MQ(L) {
      padding: 0;
    }
    a {
      display: inline-block;
      font-weight: 500;
      transition: all 0.3s ease;
      text-decoration: none;
      color: var(--secondary-text-color);
      text-decoration: none;
      &:hover {
        color: var(--link-hover-color);
      }
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 2px;
        border-width: 0 0 .5px;
        border-style: solid;
        border-color: $white;
        transition: all 0.3s ease;
      }
    }
  }
  .experience-wrapper {
    padding: 30px;
    @include MQ(ML) {
      padding-left: 0;
    }
    @include MQ(S600) {
      padding: 30px 0;
    }
    #timeline {
      position: relative;
      padding: 2em 0;
      margin: 0 auto;
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        height: 100%;
        width: 2px;
        background: $blue;
        @include MQ(ML) {
          left: 20px;
          margin-left: 0px;
        }
        @include MQ(SM) {
          left: 10px;
        }
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      .timeline-block {
        position: relative;
        transition: all 0.3s ease;
        margin: 1em 0;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:nth-child(odd) {
          @include MQ(L) {
            margin-top: 0;
            margin-bottom: 2em;
          }
          .timeline-content {
            float: left;
            @include MQ(L) {
              right: 10px;
            }
            @include MQ(ML) {
              right: auto;
            }
            &:before {
              top: 24px;
              left: 100%;
              border-color: transparent;
              border-left-color: $dark-grey;
              @include MQ(ML) {
                top: 16px;
                left: auto;
                border-color: transparent;
                border-right-color: $dark-grey;
              }
            }
            .date {
              left: auto;
              text-align: right;
              right: -33%;
            }
          }
        }
        &:nth-child(even) {
          .date {
            text-align: right;
            left: auto;
            right: 55%;
            @include MQ(ML) {
              text-align: left;
              font-size: 14px;
              color: $light-grey;
              position: relative;
              top: -40px;
              left: 95px;
              right: auto;
            }
            @include MQ(SM) {
              left: 66px;
            }
          }
        }
        .timeline-img {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 15px;
          left: 50%;
          margin-left: -25px;
          border-radius: 50%;
          background: #212121;
          transform: translateZ(0);
          backface-visibility: hidden;
          transition: all 0.3s ease;
          @include MQ(ML) {
            top: 5px;
            left: 20px;
          }
          @include MQ(SM) {
            width: 40px;
            height: 40px;
            top: 10px;
            left: 15px;
          }
          .sprite {
            display: block;
            width: 24px;
            height: 24px;
            position: relative;
            left: 50%;
            top: 50%;
            margin-left: -12px;
            margin-top: -12px;
            background-repeat: no-repeat;
            background-size: 100%;
            @include MQ(SM) {
              width: 20px;
              height: 20px;
              margin-left: -10px;
              margin-top: -10px;
            }
            // &.university {
            //   background-image: url('../img/icons/graduate-cap.png');
            // }
            // &.research {
            //   background-image: url('../img/icons/search.png');
            // }
            // &.industry {
            //   background-image: url('../img/icons/briefcase.png');
            // }
            // &.academic {
            //   background-image: url('../img/icons/notebook.png');
            // }
          }
        }
        .timeline-content {
          float: right;
          position: relative;
          background: $dark-grey;
          border-radius: 3px;
          margin-left: 0;
          padding: 1.5em;
          width: 45%;
          opacity: 0.85;
          transition: all 0.3s ease;
          @include MQ(L) {
            left: 0px;
            padding-bottom: 2.5em;
          }
          @include MQ(ML) {
            margin-left: 70px;
            right: auto;
            width: auto;
          }
          @include MQ(SM) {
            margin-left: 50px;
            padding: 1.5em 1em 2.5em;
          }
          &:hover {
            opacity: 1;
            + .timeline-img {
              background: $blue;
            }
          }
          &:before {
            content: '';
            position: absolute;
            top: 24px;
            right: 100%;
            height: 0;
            width: 0;
            border: 15px solid transparent;
            border-color: transparent;
            border-right-color: $dark-grey;
            @include MQ(ML) {
              top: 16px;
              right: 100%;
              left: auto;
              border: 15px solid transparent;
              border-right: 15px solid $dark-grey;
            }
          }
          &:after {
            content: "";
            display: table;
            clear: both;
          }
          .position {
            color: $white;
            margin: 5px 0 10px;
            font-size: 18px;
            display: inline-block;
            text-transform: uppercase;
            font-family: $Gotham, $sans-serif-stack;
          }
          .company {
            margin: 0 0 10px 0;
            font-size: 15px;
            font-weight: 500;
            a {
              color: $blue;
              display: inline;
              text-decoration: none;
              transition: all 0.3s ease;
              &:hover {
                color: #00dded;
              }
            }
          }
          .job-desc {
            margin: 1em 0;
            font-size: 1em;
            line-height: 1.5;
            @media screen and (max-width: 560px) {
              font-size: 0.8em;
            }
            @include MQ(SM) {
              font-size: 1em;
              line-height: 1.5;
            }
          }
        }
        .date {
          font-size: 1em;
          font-weight: 500;
          display: inline-block;
          color: $white;
          font-family: $Gotham, $sans-serif-stack;
          text-transform: uppercase;
          position: absolute;
          width: 100%;
          left: 55%;
          top: 30px;
          @include MQ(ML) {
            font-size: 14px;
            color: $light-grey;
            position: absolute;
            top: auto;
            bottom: 20px;
            left: 95px;
          }
          @include MQ(SM) {
            left: 66px;
          }
        }
      }
    }
  }
  .down-arrow {
    display: block;
    margin: 0 auto;
    border-color: transparent;
    border-top-color: $blue;
    border-style: solid;
    border-width: 15px 7px 0;
    width: 0;
    height: 0;
    position: relative;
    line-height: 0;
    @include MQ(ML) {
      margin-left: 13.5px;
    }
    @include MQ(SM) {
      margin-left: 3.5px;
    }
  }
}
.numbered-head::before {
  position: relative;
  counter-increment: section 2;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #00b7c7;
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
  font-weight: 400;
}
.numbered-head::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #00b7c7;
}
.numbered-head {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family: var(--heading-font-family);
  letter-spacing: 0.1em;
}

.experience {
  .certificate {
    font-size: 14px;
    color: $blue;
    display: inline;
  
    a {
      &:hover {
        cursor: pointer;
      }
  }

  i {
    font-size: 16px;
    padding-right: 10px;
  }
  }
}